<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
        <li><a class = "selected" href="index.html" style="color:red"</a>Home</li>
        <li><a href="Speak.html" style="color:orange">Speak</a></li>
        <li><a href="read.html" style="color: yellow">Read</a></li>
        <li><a href="watch.html" style="color: 6AE161">Watch</a></li></br>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>

    <div class="navigation">
      <article>
        <section>
          <a href="speak.html" style="color: black;"><img src="read.png"></a>
        </section>
      </br><a href="speak.html" style="color: black;"><h1>Read out loud.</h1></a></br>
        <p>Practice reading and get instant feedback!</p>
      </article>
      </br>
      <article>
        <section>
          <a href="read.html" style="color: black;"><img src="book.png"></a>
        </section>
        </br><a href="read.html" style="color: black;"><h1>Explore stories.</h1></a></br>
        <p>Read stories and experience an adventure!</p>
      </article>
      </br>
      <article>
        <section>
          <a href="speak.html" style="color: black;"><img src="video.png"></a>
        </section>
        </br><a href="watcg.html" style="color: black;"><h1>Watch adventures.</h1></a></br>
        <p>Watch animations of storybooks!</p>
      </article>
    </div>

  </body>
</html>
