<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
        <li><a class="selected" href="read.html" style="color:red" class="pull-left"> <img src="speak.png" ></a></li>
        <li><a href="read.html" style="color: orange" class="pull-left"> <img src="read.png"></a></li>
        <li><a href="watch.html" style="color: green" class="pull-left"> <img src="watch.png"></a></li>
      </ul>
      <ul>
        <li><a class="selected" href="read.html" style="color:red"> Speak </a></li>
        <li><a href="read.html" style="color: orange"> Read </a></li>
        <li><a href="watch.html" style="color: green"> Watch </a></li>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
    <div class="prompt">
    <article>
      <h1>London </h1>
      </br>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      </br>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </article>
  </br>
    <button id="recordButton">Record my reading</button>
    </div>
  </body>
</html>
