<html lang="en">
  <head>
    <title>Reading Practice, Grade {{ grade }}</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
  {% include 'navbar.html' %}
  {% block navbar %}{% endblock %}
  {% include 'bubbles.html' %}
  {% block bubbles %}{% endblock %}
    <div class="prompt">
      <a href={{ url_for('speak') }}><h3> &larr; Select Grade</h3></a>
      <article>
        <h1>{{ title }}</h1>
        <br>
        <p>{{ passage }}</p>
      </article>
        <section><button onclick="change_icon()" class="play" id="recordButton">&#9658;</button></section>
    </div>
  </body>
  <script src="../static/scripts.js"></script>
</html>
