<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
        <li><a href="index.html" style="color:red"</a>Home</li>
        <li><a class="selected" href="speak.html" style="color:orange"</a>Speak</li>
        <li><a href="read.html" style="color: yellow" </a>Read</li>
        <li><a href="watch.html" style="color: green" </a>Watch</li>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
    <div class="prompt">
    <article>
      <h1> Title</h1>
      </br>
      <p>"Before the school year started, I'd heard rumors about her, and within a week I realized that they were all true.
        For one thing, she did, in fact, wear the same outfit every day; the colors changed, but she always had on striped
        pants and a striped jacket. For another thing, she was mind-numbingly boring."</p>
    </article>
      </br>
        <section><button class="button" id="recordButton">&#9658;</button></section>
        </div>

  </body>
</html>
