<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
        <li><a href="index.html" style="color:red">Home</a></li>
        <li><a class="selected" href="speak.html" style="color:orange">Speak</a></li>
        <li><a href="read.html" style="color: yellow">Read</a></li>
        <li><a href="watch.html" style="color: 6AE161">Watch</a></li>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
    <div class="select-grade">
        <article>
          <h1>Select Grade Level:</h1>
          </br>
            <p><div class="grid-container">
              <div class="item1"><button>
                <a href="readingpractice1.html" style="color:#b31414">&leq; 1st</br> Grade</a></div></button>
              <div class="item2"><button>
                <a href="readingpractice2.html" style="color:#c45c12">2nd</br> Grade</a></div></button>
              <div class="item3"><button>
                <a href="readingpractice3.html" style="color:#e0c815">3rd</br> Grade</a></div></button>
              <div class="item4"><button>
                <a href="readingpractice4.html" style="color:green">4th</br> Grade</a></div></button>
              <div class="item5"><button>
                <a href="readingpractice5.html" style="color:#0e4695">5th</br> Grade</a></div></button>
              <div class="item6"><button>
                <a href="readingpractice6.html" style="color:navy">6th</br> Grade</a></div></button>
              <div class="item7"><button>
                <a href="readingpractice7.html" style="color:purple">7th</br> Grade</a></div></button>
              <div class="item7"><button>
                <a href="readingpractice8.html" style="color:indigo"> &geq; 8th</br> Grade</a></div></p></button>
          </div>
        </article>
      </div>
  </div>

  </body>
</html>
