<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="../staticstyle.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
          <li><a href="{{ url_for('index') }}" style="color:red">Home</a></li>
          <li><a href="{{ url_for('speak') }}" style="color:orange" >Speak</a></li>
          <li><a href="{{ url_for('read') }}" style="color: yellow" >Read</a></li>
          <li><a href="{{ url_for('watch') }}" style="color: 6AE161">Watch</a></li>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </body>
</html>
