<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="../staticstyle.css" />
  </head>
  <body>
    <div id="topnav">
      <ul>
        <li><a href="index.html" style="color:red"</a>Home</li>
        <li><a href="speak.html" style="color:orange"</a>Speak</li>
        <li><a href="read.html" style="color: yellow" </a>Read</li>
        <li><a href="watch.html" style="color: green" </a>Watch</li>
      </ul>
    </div>

    <div class="box">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </body>
</html>
