<html lang="en">
  <head>
    <title>Reading Racer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
  {% include 'navbar.html' %}
  {% block navbar %}{% endblock %}
  {% include 'bubbles.html' %}
  {% block bubbles %}{% endblock %}
    <div class="navigation">
      <article>
        <section>
          <a href="{{ url_for("speak") }}" style="color: black;"><img src="../static/read.png"></a>
        </section>
      <br><a href="{{ url_for("speak") }}" style="color: black;"><h1>Read out loud.</h1></a><br>
        <p>Practice reading and get instant feedback!</p>
      </article>
      <br>
      <article>
        <section>
          <a href="{{ url_for("read") }}" style="color: black;"><img src="../static/book.png"></a>
        </section>
        <br><a href="{{ url_for("read") }}" style="color: black;"><h1>Explore stories.</h1></a><br>
        <p>Read stories and experience an adventure!</p>
      </article>
      <br>
      <article>
        <section>
          <a href="{{ url_for("watch") }}" style="color: black;"><img src="../static/video.png"></a>
        </section>
        <br><a href="{{ url_for("watch") }}" style="color: black;"><h1>Watch adventures.</h1></a><br>
        <p>Watch animations of storybooks!</p>
      </article>
    </div>
  </body>
</html>
