<html lang="en">
  <head>
    <title>Reading Practice Next</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
  {% include 'navbar.html' %}
  {% block navbar %}{% endblock %}
  {% include 'bubbles.html' %}
  {% block bubbles %}{% endblock %}
    <div class="prompt">
      <a href={{ url_for('speak') }}><h3> &larr; Select Grade</h3></a>
      <article>
        <h1>{{ prev_title }}</h1>
        <br>
        <p>{{ recolored_passage }}</p>
      </article>
        <section><button onclick="next_passage()" class="next" id="next_button">Next Passage &rarr;</button></section>
    </div>
  </body>
  <script src="../static/scripts.js"></script>
</html>
